{% extends "layout.html" %}
{% block title %}Add Complaint{% endblock %}
{% block content %}
<h2>Add Complaint</h2>

<form method="post" enctype="multipart/form-data">
  <label>Title:</label>
  <input type="text" name="title" required><br><br>

  <label>Category:</label>
  <input type="text" name="category" required><br><br>

  <label>Description:</label>
  <textarea name="description" rows="5" required></textarea><br><br>

  <label>Upload Proof (Image / Video / Audio):</label>
  <input type="file" name="proof" accept="image/*,video/*,audio/*"><br><br>

  <button type="submit">Submit Complaint</button>
</form>
{% endblock %}
