<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Complaint</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="form-bg">
    <div class="form-card">
        <h2>Add New Complaint</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Complaint Title" required>
            <select name="category" required>
                <option value="" disabled selected>Select Category</option>
                <option>Cleanliness</option>
                <option>Maintenance</option>
                <option>Food</option>
                <option>Electricity</option>
                <option>Roommate</option>
                <option>Noise</option>
                <option>Other</option>
            </select>
            <textarea name="description" placeholder="Describe your issue..." required></textarea>
            <input type="file" name="proof">
            <button type="submit">Submit Complaint</button>
        </form>
        <a href="/student_dashboard" class="link">⬅ Back to Dashboard</a>
    </div>
</body>
</html>
