{% extends "layout.html" %}
{% block title %}My Complaints{% endblock %}
{% block content %}
<h2>My Complaints</h2>

{% if complaints %}
  <ul>
  {% for c in complaints %}
    <li>
      <strong>{{ c.title }}</strong> ({{ c.category }})<br>
      {{ c.description }}<br>
      Status: {{ c.status }}<br>
      {% if c.proof_file %}
        <a href="{{ url_for('uploaded_file', filename=c.proof_file) }}" target="_blank">View Proof</a><br>
      {% endif %}
      {% if c.remark %}
        Warden Remark: {{ c.remark }}
      {% endif %}
      <hr>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No complaints yet.</p>
{% endif %}
{% endblock %}
