{% extends 'layout.html' %}
{% block content %}
<h2>Student Login</h2>
<form method="post">
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="{{ url_for('student_register') }}" class="btn btn-link">Register</a>
{% endblock %}
